<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/cadastro.css')}}">
    <title>Document</title>
</head>

<body>
    <section>

        <form action="/cadastro" method="POST">
        <h2>Cadastro</h2>
        <label for="">Nome</label>
        <input type="text" name="nome" placeholder="Nome" required>
        
        <label for="">Email</label>
        <input type="email" name="email" placeholder="E-mail" required>

        <label for="">Nova Senha</label>
        <input type="password" name="senha" placeholder="Senha" required><br>
        
        <label for="Data Nascimento">Data de Nascimento</label>
        <input type="date" name="data_nascimento" required>

        <button type="submit">Cadastrar</button>

        </form>
    </section>
</body>
</html>