<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>Document</title>
</head>
<body>

    <main>
        <section>
            <h2>Login</h2>
            <form action="/login" method="POST">


            <label for="nome">Email</label>
            <input type="email" name="email" placeholder="Email"><br>

            <label for="senha">Senha</label>
            <input type="password" name="senha" placeholder="Senha"><br>

            <a href="#">Esqueceu sua senha?</a><br>

            <button type="submit">Entrar</button>
            <h3>ou</h3>
            <button type="submit">Cadastre-se</button>

            </form>

        </section>
    </main>
</body>
</html>